[Desktop Entry]
Name=Codecs Installer
Name[ca]=Instal·lador de còdecs
Name[de]=Codecs Installer
Name[el]=Εγκατάσταση codecs
Name[es]=Instalador de códecs
Name[fr]=Installateur de codecs
Name[it]=Installa Codecs
Name[ja]=コーデックインストーラ
Name[nl]=Codecs Installeerder
Name[pt]=Instalador de Codecs
Name[ro]=Instalator Codecuri
Name[ru]=Установщик кодеков
Name[sv]=Codecs Installerare
Name[tr]=Çözücü Yükleyici
Comment=Simple install of restricted codecs
Comment[ca]=Descarregador senzill de còdecs
Comment[de]=Einfache Installation unfreier Codecs
Comment[el]=Απλή εφαρμογή λήψης codecs
Comment[es]=Herramienta simple de descarga de códecs
Comment[fr]=Installation simple des codecs restreintes
Comment[it]=Semplice downloader di codecs
Comment[ja]=のシンプルなコーデックダウンローダー
Comment[nl]=Eenvoudig installeren van codecs met beperkte rechten
Comment[pt]=Instalação fácil de codecs restrictos
Comment[ro]=Descărcător simplu de codecuri pentru
Comment[ru]=Простая установка несвободных кодеков
Comment[sv]=Enkel installering av non-free codecs
Comment[tr]=Kısıtlanmış çözücüleri basit yükleme
Exec=su-to-root -X -c codecs 
Icon=codecs
NoDisplay=False
Categories=System;
Type=Application
